@import "../reindeer/styles.css";

/* css for the keywords-table */
/* Hide the caption of the table */
.v-caption-keywords-table {
    display: none;
}

/* Center cells vertically */
.v-table-cell-content {
    vertical-align: middle;
}

/* Make the mandatory checkbox centered */
.v-checkbox-mandatory-keyword {
    text-align: center;
}

.v-label-gds-status {
    font-size:1em;
    font-weight:bold;
}

.v-button-gds-login-label {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3em;
}

.v-label-gds-title {
    font-size: 3em;
    padding-left: 12px;
}

.v-embedded-gds-title {
    padding-right: 12px;
}