@import "../reindeer/styles.css";

/* Generic css styles */
.gds-bold {
    font-weight: bold;
}

.gds-green {
    font-weight: bold;
    color: green;
}

.gds-orange {
    font-weight: bold;
    color: orange;
}

.gds-red {
    font-weight: bold;
    color: red;
}

/* css for the keywords-table */
/* Hide the caption of the table */
.v-caption-keywords-table {
    display: none;
}

/* Center cells vertically */
.v-table-cell-content {
    vertical-align: middle;
}

/* Make the mandatory checkbox centered in the table */
.v-table-cell-content .v-checkbox-mandatory-keyword {
    text-align: center;
}

/* Make the mandatory checkbox without label in the table */
.v-table-cell-content .v-checkbox-mandatory-keyword label {
    display: none;
}

/* Make the background of fields with a validation error red */
input.v-textfield-validation-error {
    -webkit-border-image: none;
    -webkit-border-radius: 3px;
    background-color: tomato;
}

/* Add borders to the control panel at the bottom ot the keywords table */
.keywords-control .v-horizontallayout-margin {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}


/* Make the count of keywords bold */
.keywords-control .v-label {
    font-weight:bold;
}

/* css for the logs table */
/* For rows with warning */
.v-table-logs .v-table-row-warn {
    background-color:khaki;
}

/* For rows with error */
.v-table-logs .v-table-row-error {
    background-color:tomato;
}

.v-table-logs .v-table-focus .v-table-cell-wrapper {
    white-space: normal;
}

.v-table-logs .v-table-cell-wrapper {
    white-space: normal;
}

/* Progress indicator should be hidden */
.v-progressindicator-hidden {
    display: none;
}

.v-label-gds-status {
    font-size: 1em;
    font-weight: bold;
}

/* Style of the link on the right top side for login/logout */
.v-button-gds-login-label .v-button-wrap .v-button-caption {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    font-weight:bold;
}

/* Style for the user label on the top left side */
.v-label-gds-user-label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    font-weight: bold;
}

/* Style for the user label on the top left side */
.v-label-gds-username {
    color: red;
}

.v-label-gds-title {
    font-size: 3em;
    padding-left: 12px;
}

.v-embedded-gds-title {
    padding-right: 12px;
}