@import "../reindeer/styles.css";

.v-label-gds-status {
    font-size:1em;
    font-weight:bold;
}

.gds-login-panel {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.v-label-gds-title {
    font-size: 3em;
    padding-left: 12px;
}

.v-embedded-gds-title {
    padding-right: 12px;
}