@import "../reindeer/styles.css";

/* Hide the progress indicator */
.v-progressindicator-status-hidden {
    display:none;
}

.v-caption-status-hidden {
    display:none;
}

.v-label-status-title {
    font-size: 1.5em;
    padding-left: 12px;
}

/* Add borders to the control panel at the bottom ot the keywords table */
/*.status-panel .v-horizontallayout-margin {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}*/

.status-panel {
    background: white;
    border-color: #C2C3C4;
    border: solid 1px 1px 1px 1px;
}